*{margin:0; padding:0; box-sizing: border-box;}

img{
    width:100%;
    aspect-ratio: 3/2;
    object-fit:cover;
    
}
.bulk{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    gap:1.5em;
    place-items: center;
    min-height: 100vh;
  
    max-width: 800px;
    margin: auto;

}

